#popup-end-mission-complete {

    $scale: 0.8;
    // $scale: 1;
    // $scale_mb: 0.51;

    position: relative;
    width: 680px * $scale;
    height: 612px * $scale;
    padding: 0;
    background: url('../images/popup/end-mission-complete.png') no-repeat center;
    background-size: contain;
    
    @include tablet {
        width: vw(1018);
        height: vw(800);
        overflow: hidden;
    }

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: url('/images/popup/guest-mission-complete_athlete.png') 0 0 no-repeat;
    //     background-size: contain;
    //     pointer-events: none;
    // }

    .popup__main__box__main__dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 43px * $scale;
        left: 253px * $scale;
        width: 400px * $scale;
        height: 308px * $scale;
        color: #159fbd;
        font-size: 26px * $scale;
        font-weight: 600;
        letter-spacing: .05em;
        text-align: center;
        line-height: 41px * $scale;
        padding-left: 4px * $scale;
        padding-bottom: 27px * $scale;
        box-sizing: border-box;
        @include tablet {
            top: vw(30);
            left: vw(295);
            width: vw(678);
            height: vw(477);
            font-size: vw(33);
            font-weight: 500;
            line-height: vw(58);
            padding-left: vw(6);
            padding-bottom: vw(44);
        }
    }

    .popup__main__box__main__text {

        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 415px * $scale;
        left: 304px * $scale;
        width: 300px * $scale;
        height: 100px * $scale;
        font-size: 24px * $scale;
        line-height: 36px * $scale;
        letter-spacing: .15em;

        @include tablet {
            top: vw(640);
            left: vw(489);
            width: vw(440);
            height: vw(155);
            font-size: vw(30);
            line-height: vw(55);
        }

        p:nth-child(2) {
            display: none;
        }

        @at-root .popup__main__box--registered .popup__main__box__main__text {
            p:nth-child(1) {
                display: none;
            }
            p:nth-child(2) {
                display: block!important;
            }
        }

        span {
            letter-spacing: .1em;
            font-size: 27px * $scale;
            padding-left: .3em;
            @include tablet {
                font-size: vw(41);
            }
        }

    }

    .popup__main__box__main__buttons {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 20px 0;
        position: absolute;
        top: 390px * $scale;
        left: 315px * $scale;
        width: 300px * $scale;
        color: #fff;
        text-align: center;
        @include tablet {
            top: vw(520);
            left: vw(450);
            width: vw(440);
            gap: vw(30) 0;
        }

        li {
            margin-top: 14px * $scale;

            @include tablet {
                margin-top: vw(20);
            }
        }
    }

    .popup__main__box__main__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 266px * $scale;
        height: 65px * $scale;
        font-size: 22px * $scale;
        border-radius: 23px * $scale;
        cursor: pointer;
        @include tablet {
            width: vw(340);
            height: vw(80);
            font-size: vw(34);
            border-radius: vw(30);
        }
        &.btn-replay {
            background-color: #f7c248;
            box-shadow: #785506 0 6px * $scale 0;
            @include tablet {
                box-shadow: #785506 0 vw(8) 0;
            }
        }
        &.btn-endgame {
            background-color: #004d6e;
            box-shadow: #002839 0 6px * $scale 0;
            @include tablet {
                box-shadow: #002839 0 vw(8) 0;
            }
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }

}