#popup-finish-form.popup__basic {

    width: 548px!important;
    height: 548px!important;
    padding: 50px 0 0!important;

    @include tablet {
        width: vw(848)!important;
        height: vw(947)!important;
        padding: vw(142) 0 0!important;
    }

    &::before {
        top: -37px;
        left: -110px;
        width: 680px;
        height: 612px;
        background-image: url('/images/popup/finish-form_background.png?v=2');
        @include tablet {
            top: vw(-57);
            left: vw(-76);
            width: vw(959);
            height: vw(1041);
            background-image: url('/images/popup/finish-form_background_mb.png');
        }
    }

    .popup__main__box__main__title {
        flex-basis: 100%;
        margin-bottom: 15px;
        @include tablet {
            margin-bottom: 0;
        }
    }

    #popup-finish-form-avatar {
        width: 128px;
        height: 128px;
        border-width: 7px;
        @include tablet {
            width: vw(218);
            height: vw(218);
            border-width: vw(9);
            margin-bottom: vw(30);
        }
    }

}