#popup-form {

    padding-top: 0;

    @include tablet {
        border-radius: 0;
    }

    .popup__main__box__main {
        width: 370px;
    }

    .popup__main__box__main__intro {
        align-items: flex-end;
        height: 283px;
        background: url('/images/popup/form-image.png') #01a7b9 center center no-repeat;
        background-size: cover;
        @include tablet {
            height: 0;
            padding-top: 76%;
        }
    }

    #popup-form-avatar {
        margin-top: 0;
        width: 98px;
        height: 98px;
        border: #0099b7 3px solid;
        transform: translateY(24*0.85px);
        @include tablet {
            width: 88px;
            height: 88px;
            border-width: 2.5px;
            transform: translateY(-78%);
        }
    }

    .popup__main__box__main__intro__text {
        display: none;
    }

    .popup__main__box__main__form {
        padding: 44*0.85px 0 0;
    }

    .popup__main__box__main__form__intro {
        color: #004c69;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: .15em;
        padding-left: .4em;
        margin-bottom: 18*0.85px;
    }

    .popup__main__box__main__form__row {
        width: 256px;
        margin: 0 auto 12*0.85px;

        &:last-child {
            margin-bottom: 0;
        }

        &.row--privacy {
            margin-top: 16*0.85px;
            margin-bottom: 22*0.85px;
            .popup__main__box__main__form__row__col {
                color: rgba(#004c69, .66);
                font-size: 13px;
                padding-left: 12px;
            }
        }
    }

    .popup__main__box__main__form__row__col {
        color: #004c69;
        font-size: 17*0.85px;
        font-weight: 500;
        &:nth-child(1) {
            width: 36%;
            flex-shrink: 0;
            text-align: right;
        }
    }

    .popup__main__box__main__form__row__col__input {
        height: 36*0.85px;
        border-radius: 10px;
        padding: 0 10px;
    }

    #popup-form-btn-submit {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 147px;
        height: 38px;
        font-weight: 600;
        letter-spacing: .1em;
        padding: 0;
        margin-bottom: 62*0.85px;
        border-radius: 10px;
        @include tablet {
            margin-bottom: 52px;
        }
    }

}