@import "./bonus-mission";
@import "./finish-form";
@import "./re-choice";
@import "./social-login";
@import "./share";
@import "./form";
@import "./guest-marathon-complete";
@import "./guest-mission-complete";
@import "./end-mission-complete";
@import "./member-mission-complete";
@import "./marathon-error";

#popup.no-max-width .popup__main {
    max-width: none;
}

.popup__basic {

    align-items: flex-start!important;
    position: relative;
    width: 450px!important;
    height: 450px!important;
    padding: 120px 0 0!important;
    background: none!important;
    border-radius: 0!important;
    overflow: visible!important;
    box-sizing: border-box!important;

    @include tablet {
        width: vw(850)!important;
        height: vw(686)!important;
        padding: vw(214) 0 0!important;
    }

    &::before {
        content: '';
        position: absolute;
        top: -30px;
        left: -94px;
        width: 560px;
        height: 506px;
        background: url('/images/popup/basic_background.png') 0 0 no-repeat;
        background-size: contain;
        pointer-events: none;
        @include tablet {
            top: vw(-57);
            left: vw(-76);
            width: vw(959);
            height: vw(781);
            background-image: url('/images/popup/basic_background_mb.png');
        }
    }

    .popup__main__box__main {
        position: relative;
    }

    .popup__main__box__main__title {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        @include tablet {
            margin-bottom: vw(36);
        }
        p {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 187px;
            min-height: 42px;
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 2px;
            padding-bottom: 2px;
            border-radius: 42px;
            background: linear-gradient(37deg, #0091bc 0%, #0091bc 30%, #74dbbf 70%, #74dbbf 100%);
            box-sizing: border-box;
            @include tablet {
                min-width: vw(356);
                min-height: vw(80);
                font-size: vw(42);
                letter-spacing: vw(3);
                padding-bottom: vw(4);
                border-radius: vw(78);
            }
        }
    }

    .popup__main__box__main__text {
        color: #079bb8!important;
        font-size: 24px!important;
        font-weight: 500!important;
        line-height: 37px!important;
        @include tablet {
            font-size: vw(37)!important;
            line-height: vw(58)!important;
        }
        img {
            position: relative;
            top: -4px;
            display: inline-block;
            height: 34px;
            margin: 0 2px;
            vertical-align: middle;
            @include tablet {
                top: vw(-4);
                height: vw(70);
                margin: 0 vw(5);
            }
        }
    }

}

body .wrap .main .popup__main__box:not(.popup__basic) {
    width: 500px;
}

.popup__main__box,
.popup__main-new__box {
    box-sizing: border-box;
}

#popup-btn-close.hint a {
    transform: translate(450px, -10px);
    @include tablet {
        transform: translate(326px, 172px);
        // position: absolute!important;
        // top: vw(-156);
        // right: vw(110);
    }
}
#popup-btn-close.marathon a {
    transform: translate(326px, 172px);
    z-index: 1;
    @include tablet {
        transform: translate(vw(340), vw(-30));
    }
}

.popip__main-new {
    position: relative;
    margin-top: 6%;
    transform: none;
    @include tablet {
        margin-top: 12vh;
    }
}

#popup-btn-close-new {
    @include tablet {
        position: static!important;
    }
}

#popup-hint {
    width: 990px;
    height: 480px;
    img {
        display: block;
        width: 732px;
        margin: 0 auto;
        @include tablet {
            width: vw(640);
            margin-top: vw(30);
        }
    }
    .desktop {
        display: block;
        @include tablet {
            display: none;
        }
    }
    .mobile {
        display: none;
        @include tablet {
            display: block;
        }
    }
}

#popup-join-success {
    position: relative;
    width: 643px;
    height: 480px;
    padding: 0;
    background-image: url('/images/popup/join-success-lin.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    &.kuo {
        background-image: url('/images/popup/join-success-kuo.png');
    }
    &.chen {
        background-image: url('/images/popup/join-success-chen.png');
    }
    @include tablet {
        width: vw(1015);
        height: vw(845);
        background-image: url('/images/popup/join-success-lin_mb.png');
        background-size: vw(1015) vw(845);
        &.kuo {
            background-image: url('/images/popup/join-success-kuo_mb.png');
        }
        &.chen {
            background-image: url('/images/popup/join-success-chen_mb.png');
        }
    }
    .btn-mission,
    .btn-bonus-mission {
        position: absolute;
        top: 341px;
        left: 295px;
        width: 256px;
        height: 49px;
        // background: rgba(red, 0.5);
        @include tablet {
            top: vw(569);
            left: vw(479);
            width: vw(436);
            height: vw(84);
        }
    }
    .btn-bonus-mission {
        top: 401px;
        @include tablet {
            top: vw(671);
        }
    }
}

#popup-privacy,
#popup-share,
#popup-after-share {
    // width: 500px;
}