html {
	font-family: Arial, Helvetica, sans-serif;

}
a{
	color: #000;
}

a:hover, a:focus{
	text-decoration: none;
}
h2{
	font-size: 24px;
    font-weight: normal;
    color:#222;

    text-align: center;
    letter-spacing: 2px;
    padding: 0;
    margin-top:0px;
    line-height: 1.2;
}
h2 span{
	background-image: url(../images/coltitlebg.png);
    background-repeat: repeat-x;
    background-position: left top;
	font-weight: 600;}
h2::before{
	content: url(../images/footicon.png);
	box-sizing:border-box;
	padding:0px 5px 0 0;
}

h3{
	font-size: 21px;
    font-weight: normal;
    color:#222;
    /*display:flex;*/

    text-align: center;

    letter-spacing: 2px;
    margin:1% 5%;
    line-height: 1.3;
    text-indent:-10px;
}
h3 span{
	color:#e30000;

}

h4 {font-size: 14px;
    font-weight: normal;
    color:#222;
    text-align: center;

    letter-spacing: 1px;
    margin-top:0px;
    line-height: 0.8;

}
h5{
	font-size: 1em;
	line-height:1;
    font-weight: normal;
    color:#555;
    text-align: left;

    letter-spacing: 1px;
    margin-top:0px;
    margin-left:6%;

}

.mainbg{
        top:0;
        right:0;
        left:0;


        width: 100vw;
        height:100vh;
        background-image:url(../images/bg02.jpg);
        position: fixed;
        z-index:-1;
       }

      
      
.tours{ 
        display:block;
        background-color:#FFF;

        margin:0 auto;
        margin-top:0px;
        z-index:998;


        max-width: 1275px;
		margin: 0 auto;
		padding:95px 15px 20px 15px;
       }

.tours2{
        display:block;
        background-color:#FFF;

        margin:0 auto;
        margin-top:0px;
        z-index:998;


        max-width: 1275px;
		margin: 0 auto;
		

}

.toparea{
	display: block;
	width:100%;
	max-width: 1245px;
	margin: 0 auto;
}

.toparea-m{
	display: none;
	width:100%;
	max-width: 750px;
	margin: 0 auto;
}
.timearea{
	display: block;
	width:100%;
	max-width: 793px;
	margin: 0 auto;
}

.timearea-m{
	display: none;
	width:100%;
	max-width: 180px;
	margin: 0 auto;
	margin-top:25px;
}


.titlebig{
	display: block;
	max-width: 700px;
	margin: 0 auto;
	padding-top:50px;
	padding-bottom:25px;
}
/*.titlesmall{
	display: none;
	max-width: 700px;
	margin: 0 auto;
}*/


.wordbn {
	display:block;
	width:100%;
	text-align:center;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:50px;


}
.wordbn a {
	font-size:1.8em;
	text-align:center;
	letter-spacing:3px;
	font-weight:bold;
	background-color:#f7ae1f;
	color:#000;
	padding:8px 40px;
	text-decoration: none;


}

.wordbn a:hover{
	color:#FFF;
	background-color:#222;
	transition:all 0.6s;
	}

@media (max-width:750px){
	
	/*.mainbg {display: none;}*/

	/*.titlebig{display: none;}
	   .titlesmall{display: block;}*/

	.toparea, .timearea{
			display: none;
		}

	.toparea-m, .timearea-m{
			display: block;
		}
	h3{ font-size: 19px;
		text-align: left;}

}


@media (max-width:440px){

	.titlebig{
			/*display: none;*/
			width:80%;
			height:auto;
		}

	.toparea{
			display: none;
		}

	.toparea-m{
			display: block;
		}
	h2{ font-size: 21px;}
	h3{ font-size: 17px;
		line-height: 1.5;
		text-align: left;}
}



/*第一區塊 航班資訊表格*/
        
        .table-bordered>tbody>tr>td{
            text-align: center;
            vertical-align:middle;

        }
        
        .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
            border: 2px solid #d7d7d7;
            background-color: #fff;
            text-align: center;
            vertical-align: middle;
            font-weight: normal;
            white-space: nowrap;/*表格不換行*/
        }
        .table-bordered>tbody>tr>td:hover{}
        .table{
            width:90%;
            margin-top:25px;

            font-size:1.3em;
            color:#222;
            padding:3px 0;
        }
  		.table tr:nth-child(1) td,.table tr th{
  			background:#d7d7d7;
  		}

        .table a {
		    /*display: block;*/
		    color: #337ab7;
		    height: 30px;
		    line-height: 35px; 
		    font-weight: 500;
		    /*float: right;*/
		}

        .table tbody td.citime {
            font-family: "Times New Roman", Times, serif;
            font-weight:700;
            font-size:1.1em;
            letter-spacing:1px; }

        .mtaa {
        	margin-bottom:15px;
        }
        .mt-10{
        	margin-top:-12px;
        }

	@media (max-width:558px){
			.table{font-size:1.1em;}

	}





/*events 第3區塊、第4區塊*/
	.events{ 
		padding:2em 0 0 0;
		background-color:transparent;}
	.events-left {
		float: left;
		width: 19.5%;
		background:#f7ae1f;
		text-align: center;
		padding:0.9em 0;
		border-radius: 0.5em;
	}
	.events-right{
		float:right;
		width:72%;
		margin-right:10px;
		margin-left:10px;
	}
	
	.events h6 {
		font-size: 1.5em;
		font-weight: 600;
		letter-spacing:1px;
		color: #444;
		text-align:left;
		margin:0;
	}
	.events p {
		font-size: 1.1em;
		letter-spacing:1px;
		text-align: justify;
		color: #212121;
		line-height:1.5em;
		font-weight:300;
		margin: 0.7em 0;
	}
	.events-bottom {
		margin: 1em 0 2em 0 ;
	}
	.event-in{
			padding:1em;
		}
	.events-grid {
			padding: 2em 0 3em;
		}

	.event-top {
			text-align: center;
		}

@media (max-width:1024px){	

			.events-right {
				width: 72%;
			}
			.events-left {
				width: 19%;
				padding: 0.7em 0;
			}
			.events h6 {
				font-size: 1.5em;
			}
			.events p {
				font-size: 1.05em;
			}
}
/*增加的*/
ul, ol{
	margin-bottom: 0;
}
section{
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
    padding: 0 2%;
}
h1{
	color: #b3192a;
	font-weight: bold;
}
.banner{
	position: relative;
}
 .banner img{
     display: block;
     width: 100%;
     max-width: 2000px;
}
.bannertitle{
	position: absolute;
    top: 50%;
    right: 0;
}
.banner-m{
	display: none;
}
.logo{
	position: absolute;
    z-index: 99;
    top: 1%;
    left: 3%;
 }
 .logo img{
	max-width: 200px;
 }
/* .clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after{
     display: block;
}*/

 .col2{
     width: 50%;
     float: left;
}
.col2-1{
	width: 45%;
    float: left;
}
.col2-2{
	width: 55%;
    float: left;
}
 .mapblock {
     max-width: 800px;
     margin: auto;
}

/* Specific mapael css class are below * 'mapael' class is added by plugin */
 .mapael .map {
     position: relative;
    margin-top: -5vw;
}
 .mapael .mapTooltip {
     position: absolute;
     background-color: #474c4b;
     moz-opacity: 0.70;
     opacity: 0.70;
     filter: alpha(opacity=70);
     border-radius: 10px;
     padding: 10px;
     z-index: 1000;
     max-width: 200px;
     display: none;
     color: #fff;
}
.mapright{
	padding-top: 5vw;
	position: relative;
}
.mapboxblock{
    padding-bottom: 30px;
    overflow: hidden;
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
}
.maptextbox{
/*	-webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; */
	width: 47%;
	background: #fff;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	padding:10px;
}
.maptextbox+.maptextbox{
	margin-left: 3%;
}
.maptextbox p{
    background: #999999;
    color: #fff;
    font-size: 26px;
    padding-left: 5px;
    letter-spacing: 3px;
}
.maplist{
	padding: 0 12px;

}
.maplist li{
    font-size: 1.3vw;
    line-height: 2.4vw;
	letter-spacing: 1px;
}
.maplist span{
	background:url(../images/mapline.png) repeat-x bottom;
}
.mapimg{
	position: absolute;
}
.mapboxblock:nth-child(4) .maptextbox:nth-child(1) .maplist{
	padding-top: 7%;
}
/*小圖*/
.mapboxblock:nth-child(2) .maptextbox:nth-child(1) .mapimg{
    top: 16%;
    left: 34%;
}
.mapboxblock:nth-child(2) .maptextbox:nth-child(2) .mapimg{
    top: 15%;
    right: -2%;
}
.mapboxblock:nth-child(3) .maptextbox:nth-child(1) .mapimg{
	top: 40%;
    left: 30%;
}
.mapboxblock:nth-child(3) .maptextbox:nth-child(2) .mapimg{
	bottom: 34%;
    right: -4%;
}
.mapboxblock:nth-child(4) .maptextbox:nth-child(1) .mapimg{
    bottom: 3%;
    left: -9%;
}
.mapboxblock:nth-child(4) .maptextbox:nth-child(2) .mapimg{
    bottom: 1%;
    right: -6%;
}

 @media (min-width:1400px){
	.maplist li {
	    font-size: 18px;
	    line-height: 36px;
	    letter-spacing: 1px;
	}

 }
 @media (max-width: 1400px){
 	.mapimg img{
		max-width: 120px;
		width: 100%;
	}
	.mapboxblock:nth-child(3) .maptextbox:nth-child(2) .mapimg {
	    bottom: 36%;
	    right: -4%;
	}
 }
 @media (max-width:960px){

 	 .logo img{
		max-width: 150px;
	 }
	.col2,.col2-1,.col2-2{
		width: 100%;
	}
	.mapboxblock{
		display: block;
		padding-bottom: 0;
	}
	.maptextbox{
		width: 100%;
	}
	.maptextbox+.maptextbox{
		margin-left: 0;
	}
	.maptextbox{
		margin-bottom: 30px;
	}
	.maplist li{
		font-size: 3vw;
    	line-height: 5vw;
	}
	.mapboxblock:nth-child(4) .maptextbox:nth-child(1) .maplist{
		padding-top: 0;
	}
	.mapright h1{
		text-align: center;
	}
	.mapimg img{
		display: none;
	}
 }
 @media (max-width:800px){
 	.banner{
 		display: none;
 	}
 	.banner-m{
		display: block;
    	max-width: 800px;
	}
	.banner-m img{
   		width: 100%;
		display: block;
	}
	.logo img {
	    max-width: 130px;
	}
 }
 @media (max-width:480px){
	.mapright h1{
		font-size: 8vw;
	}
	.maplist li{
		font-size: 20px;
    	line-height: 35px;
	}
	.banner-m{
    	padding-top: 30px;
    	background: #fec9aa;
	}
	.logo {
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    text-align: center;
	}
 }


 /*地圖區*/
 .sagamap{
	display: block;
	width:100%;
	height:auto;
	max-width: 480px;
	margin: 0 auto;
	margin-top:-5px;
	margin-bottom:30px;}

 .komatsumap{
	display: block;
	width:100%;
	height:auto;
	max-width: 674px;
	margin: 0 auto;
	margin-top:0px;
	margin-bottom:30px;}

 .hanatime{
	display: block;
	width:100%;
	height:auto;
	max-width: 793px;
	margin: 0 auto;
	margin-top:30px;
	margin-bottom:30px;}