.fundlist__content .tableblock, .banner-TT {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .banner-TT {
    display: none;
  }
}

.list-content .fundinfor, .list-content .btnbuy {
  font-size: 1rem;
  color: #fff;
  padding: 7px 12px;
  white-space: nowrap;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .list-content .fundinfor, .list-content .btnbuy {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
  }
}

body {
  color: #000000;
  background: url(../images/bg-fund.jpg) repeat-y top center fixed;
}

.section__block {
  max-width: 960px;
}

.padding-reduce {
  padding: 0 2%;
}

.menu .opentrack {
  padding: 0px 18px;
  color: #fff;
  line-height: 60px;
  background: #ef4e28;
  cursor: pointer;
  font-weight: bold;
}
.menu .opentrack:hover {
  background: #e76545;
}

.bg-intro {
  background: url(../images/bg-intro.jpg) no-repeat top center;
}
.bg-point {
  overflow: hidden;
  background: url(../images/bg-point.jpg) no-repeat center;
}
.bg-activity {
  background: url(../images/bg-activity.jpg) no-repeat bottom center;
}

article {
  padding-top: 60px;
}

.banner__block {
  position: relative;
  overflow: hidden;
  background: url(../images/bg-banner.jpg) no-repeat bottom center;
  height: 870px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .banner__block {
    background: url(../images/bg-banner2.jpg) no-repeat bottom center/cover;
    height: 450px;
  }
}
@media (max-width: 480px) {
  .banner__block {
    height: auto;
  }
}
.banner__block a {
  display: inline;
}
.banner-TT {
  max-width: 720px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 45vw;
}
@media (max-width: 1366px) {
  .banner-TT {
    right: auto;
    left: 3vw;
  }
}
@media (max-width: 1024px) {
  .banner-TT {
    max-width: 360px;
    left: auto;
    right: 43vw;
  }
}
@media (max-width: 640px) {
  .banner-TT {
    right: 30vw;
  }
}
.banner__mobile {
  display: none;
}
@media (max-width: 480px) {
  .banner__mobile {
    display: block;
  }
}

.count-time {
  background: url(../images/img-time.png) no-repeat center;
  position: absolute;
  max-width: 500px;
  width: 100%;
  height: 150px;
  top: 2%;
  right: 52%;
  display: flex;
  padding: 0 0 40px 165px;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  align-items: flex-end;
}
@media (max-width: 1024px) {
  .count-time {
    background: url(../images/img-time.png) no-repeat center/contain;
    height: 95px;
    right: 40%;
    top: 0;
    padding: 0 0 25px 185px;
    font-size: 1rem;
  }
}
@media (max-width: 769px) {
  .count-time {
    right: 35%;
  }
}
@media (max-width: 640px) {
  .count-time {
    background: url(../images/img-time.png) no-repeat center left/contain;
    right: auto;
    padding: 0 0 25px 92px;
  }
}
@media (max-width: 480px) {
  .count-time {
    background: url(../images/img-time-m.png) no-repeat center/contain;
    height: 80px;
    padding: 0px 0 20px 32%;
  }
}

.time-num {
  padding: 0 5px;
  font-weight: bold;
  font-size: 2rem;
  color: #ffd323;
}
@media (max-width: 1024px) {
  .time-num {
    font-size: 1.3rem;
  }
}

.intro__content {
  background: url(../images/img-intro_02.png) repeat-y bottom center/cover;
  padding: 20px 60px 5px 50px;
  font-size: 1.25rem;
  line-height: 1.6rem;
}
@media (max-width: 480px) {
  .intro__content {
    padding: 20px 30px 5px 28px;
  }
}
.intro__content p {
  font-weight: bold;
  text-align: center;
}
.intro__content span {
  line-height: 1.8rem;
  display: block;
  margin: 10px 0;
  text-align: justify;
}
.intro__content strong {
  color: #a10c06;
  font-weight: bold;
}

.point-img {
  max-width: 400px;
}

.logo__block {
  display: grid;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 170px);
  grid-gap: 0px;
  margin: 20px 0;
}
@media (max-width: 640px) {
  .logo__block {
    justify-content: center;
    grid-gap: 10px;
  }
}
.logo__block img {
  transition: 0.5s;
}
.logo__block img:hover {
  transform: scale(0.95);
}

h2 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: #a10c06;
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 480px) {
  h3 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
h3 strong {
  color: #ef4e28;
  font-weight: bold;
  font-size: 1.7rem;
}

.fund-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fund-tab div {
  transition: 0.5s;
}
.fund-tab div:hover {
  transform: scale(0.95);
}
.fund-img {
  height: 60px;
  margin-bottom: 30px;
  background: url(../images/img-fund.png) no-repeat bottom center/cover;
}
.fund-name {
  font-weight: bold;
}

.fundlist__block {
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.fundlist__block ul li:not(:last-child) {
  margin-bottom: 20px;
  vertical-align: bottom;
  border-bottom: 1px solid #b5a177;
  padding-bottom: 20px;
}
.fundlist__title {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 1px solid #000;
  margin-bottom: 15px;
  padding: 15px 0 5px 0;
  color: #a10c06;
}
.fundlist__title span {
  font-size: 1rem;
}
.fundlist__content {
  display: none;
}
.fundlist__content .tableblock {
  max-width: 800px;
  text-align: justify;
  line-height: 2.2rem;
  font-size: 1rem;
  margin-top: 10px;
}
.fundlist__content .tableblock table {
  width: 100%;
  border: 1px solid #b3b3b3;
}
.fundlist__content .tableblock table th {
  background: #d0d0d0;
  padding: 5px 0;
  font-weight: bold;
  font-size: 1.125rem;
  vertical-align: middle;
  padding: 0 2%;
}
.fundlist__content .tableblock table th:nth-child(1) {
  width: 28%;
}
@media (max-width: 480px) {
  .fundlist__content .tableblock table th {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.fundlist__content .tableblock table td {
  padding: 5px 0;
  width: 15%;
  background: #fff;
}
.fundlist__content .chart__caption {
  text-align: justify;
}

@media (max-width: 480px) {
  .list-content .btn__block {
    display: flex;
  }
}
.list-content .btnbuy {
  background: #cc0000;
}
.list-content .fundinfor {
  background: #f9a532;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.list-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}
@media (max-width: 1024px) {
  .list-name {
    display: block;
  }
}
.list-name:hover .fund-name {
  color: #ef4e28;
  font-weight: bold;
}
.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: end;
}
@media (max-width: 1024px) {
  .list-title {
    padding-bottom: 10px;
  }
}
.list-title span {
  color: #00555f;
  font-weight: bold;
}
.list-title p {
  display: inline;
  color: #666666;
}
.list-title a {
  color: #000;
}
.list-left {
  display: flex;
}
.list-icon {
  max-height: 25px;
  color: #ef4e28;
  font-weight: bold;
  padding-right: 5px;
  margin-right: 5px;
}
@media (max-width: 480px) {
  .list-icon {
    border: 0;
  }
}
.list-icon .fas {
  margin-right: 5px;
  font-size: 1.4rem;
  vertical-align: middle;
  color: #3e1f0b;
}

.activity__block span {
  color: #333333;
  font-weight: bold;
}
.activity__block .activity__sup li {
  list-style-type: none;
  font-size: 0.8rem;
  margin-bottom: 0;
  text-indent: -2.5rem;
  color: #2c67ae;
  line-height: 1.25rem;
}
.activity__table {
  width: 100%;
  border: 1px solid #b3b3b3;
  background: #fff;
  margin: 15px auto;
  line-height: 2rem;
}
@media (max-width: 480px) {
  .activity__table {
    font-size: 1rem;
  }
}
.activity__table tr:not(:last-child) {
  border: 1px solid #b3b3b3;
}
.activity__table th {
  font-weight: bold;
  background: #e4e4e4;
}
.activity__table th:last-child {
  text-align: left;
}
@media (max-width: 480px) {
  .activity__table th {
    vertical-align: middle;
    line-height: 1.5rem;
  }
}
.activity__table td:first-child {
  width: 15%;
}
@media (max-width: 480px) {
  .activity__table td:first-child {
    width: 18%;
  }
}
.activity__table td:nth-child(even) {
  font-weight: bold;
  color: #ef4e28;
  width: 12%;
}
@media (max-width: 480px) {
  .activity__table td:nth-child(even) {
    width: 28%;
  }
}
.activity__table td:last-child {
  text-align: left;
}
.activity__table sup {
  vertical-align: super;
  font-size: smaller;
  color: #2c67ae;
}

/*# sourceMappingURL=main.css.map */
