// RWD Breakpoints
$rwdS: 768; // Mobile
$rwdM: 1080;
$rwdL: 1280;
$rwdX: 1600;
$rwdXL: 1920;

// Devices
$mobile: $rwdS + px;
$tablet: $rwdL + px;

// Color
// $primaryColor: #ffffff;
// $secondaryColor: #aaaaaa;

// Vivotek Color
$primaryColorDarkBlack: #414141;
$primaryColorBlueLogo: #1977fd;
$primaryColorDarkBlue: #4356ff;
$primaryColorPurple: #9a76f4;
$primaryColorAquaBlue: #00cbe5;

$secondaryColorLightGray: #f2e6db;
$secondaryColorGray: #c8c8c8;
$secondaryColorDarkGray: #969696;

$color25YearPink: #ff7098;
$borderColor: #BDBDBD;
$textPrimary: #EB5757;

// Line Height
$defaultLineHeight: 1.25;

// Duration
$primaryDuration: 0.65s;
$secondaryDuration: 0.35s;

// Ease
$easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
$easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
$easeInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);

// Header
$headerHeight: 115;
