@charset "UTF-8";
body {
  color: #2c2c2c;
  line-height: 22px;
  text-align: justify;
}

/* 統一樣式 */
.step__img, .step__TT, .remind__block, .methods__choice {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 1.7rem;
  line-height: 2.2rem;
}

h3 {
  color: #cc0000;
  font-size: 1.2rem;
  font-weight: bold;
  display: table;
  margin: 0 auto;
  line-height: 2rem;
  border-bottom: 1px solid #cc0000;
}

h4 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

h5 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2rem;
}

span {
  color: #3274c4;
  font-weight: bold;
}

.section__block {
  max-width: 850px;
}
@media (max-width: 480px) {
  .section__block {
    padding: 60px 3%;
  }
}

.index-content {
  max-width: 1100px;
}
.index-remark {
  text-align: center;
  margin-top: 30px;
}

.banner__block {
  margin-top: 60px;
  height: 150px;
  background: url(../images/banner.jpg) no-repeat center/cover;
}
@media (max-width: 640px) {
  .banner__block {
    height: 120px;
    background: url(../images/banner-m.jpg) no-repeat center/cover;
  }
}
.banner__block-bank {
  background: url(../images/banner2.jpg) no-repeat center/cover;
}
@media (max-width: 640px) {
  .banner__block-bank {
    background: url(../images/banner2-m.jpg) no-repeat center/cover;
  }
}

.methods__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
}
@media (max-width: 1024px) {
  .methods__block {
    display: block;
  }
}
.methods__choice {
  position: relative;
  width: 30%;
  padding: 15px;
  background: #e6e6e6;
  border: 1px solid #fff;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(111, 111, 111, 0.5);
  transition: 0.5s;
}
@media (max-width: 1024px) {
  .methods__choice {
    width: 50%;
    margin-bottom: 50px;
  }
}
@media (max-width: 769px) {
  .methods__choice {
    width: 100%;
    margin-bottom: 25px;
    box-shadow: 3px 3px 5px rgba(111, 111, 111, 0.5);
  }
}
.methods__choice:hover {
  transform: scale(1.05);
}
.methods__choice img {
  max-width: 30px;
  margin: 0;
  margin-right: 10px;
}
.methods__choice ul {
  text-indent: -1.6rem;
  padding-left: 1.6rem;
}
.methods__choice a {
  display: inline;
}
.methods__title {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}
.methods__title strong {
  color: #ef4e28;
  font-weight: bold;
}
.methods__title p {
  font-size: 1.2rem;
  font-weight: bold;
}

.choice-content {
  position: relative;
  margin-top: 20px;
  padding-left: 5px;
}
@media (max-width: 1024px) {
  .choice-content {
    left: 16%;
  }
}
@media (max-width: 769px) {
  .choice-content {
    left: 0;
  }
}
.choice-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.read-more {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.read-more::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin: 0 5px;
}
.read-more a {
  color: #000;
  font-size: 1.2rem;
}

.remarks__block {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@media (max-width: 769px) {
  .remarks__block {
    display: block;
  }
}
.remarks__content {
  font-size: 1rem;
  text-align: center;
  min-width: 340px;
}
.remarks__content + .remarks__content {
  margin-left: 20px;
}
@media (max-width: 769px) {
  .remarks__content + .remarks__content {
    margin-left: 0;
    margin-top: 20px;
  }
}
.remarks__content p {
  padding-top: 20px;
  text-align: justify;
  display: inline-block;
}
.remarks__content a {
  display: inline;
}
.remarks__content.another-page, .remarks__content.tab__extra {
  cursor: pointer;
  background: url(../images/img-ques.png) no-repeat center/contain;
  height: 80px;
  transition: 0.5s;
}
.remarks__content.another-page:hover, .remarks__content.tab__extra:hover {
  transform: scale(0.95);
}
.remarks__content.another-page h3, .remarks__content.tab__extra h3 {
  line-height: 82px;
  border: 0;
  padding-left: 45px;
  font-size: 1.3rem;
}
.remarks__content.tab__extra {
  margin-top: 50px;
  background: url(../images/img-extra.png) no-repeat center/contain;
}
.remarks__content.tab__extra h3 {
  color: #2c2c2c;
}
@media (max-width: 480px) {
  .remarks__content.tab__extra h3 {
    font-size: 1.2rem;
  }
}
.remarks__content.tab__extra h3 strong {
  font-weight: bold;
  color: #cc0000;
}

.remind__block {
  max-width: 640px;
  text-align: center;
}
.remind__block h3 {
  border: 0;
}
.remind__text {
  position: relative;
  padding: 5px 0;
  background: #e6e6e6;
}
.remind__text img {
  position: absolute;
  max-width: 100px;
  left: -32px;
  top: -11px;
}
@media (max-width: 769px) {
  .remind__text img {
    max-width: 80px;
    left: -10px;
  }
}
@media (max-width: 769px) {
  .remind__text {
    padding: 5px 9%;
  }
}
.remind__text p {
  font-weight: bold;
}
.remind__pic {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remind__pic img {
  max-width: 320px;
}
@media (max-width: 769px) {
  .remind__pic {
    display: block;
  }
}

.bg-step {
  background: url(../images/bg-step.jpg) no-repeat right/cover fixed;
}

.step__block {
  position: relative;
  top: 30px;
}
@media (max-width: 640px) {
  .step__block {
    top: 0;
  }
}
.step__block:first-child .step__content {
  display: block;
}
.step__TT {
  cursor: pointer;
  max-width: 390px;
  height: 65px;
  background: url(../images/img-TT02.png) no-repeat center/contain;
  line-height: 65px;
  margin-bottom: 1%;
  transition: 0.5s;
}
.step__TT:hover {
  transform: scale(0.95);
}
.step__TT::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin: 0 5px;
  padding-left: 5px;
}
.step__TT.arrow-up::after {
  content: "";
}
.step__TT.arrow-down::after {
  content: "";
}
.step__TT.act-status {
  background: url(../images/img-TT01.png) no-repeat center/contain;
}
.step__content {
  display: none;
  background: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 5px 5px 8px rgba(111, 111, 111, 0.35);
  padding: 8% 8% 5%;
  margin-bottom: 60px;
}
@media (max-width: 769px) {
  .step__content {
    padding: 5% 3%;
  }
}
.step__text h5 {
  color: #3274c4;
}
.step__text p {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 0 10px 1rem;
  text-indent: -0.5rem;
}
.step__text p::before {
  display: inline-block;
  content: "■";
  margin: -0.2rem 0.3rem 0 0;
  vertical-align: top;
}
.step__text span {
  display: contents;
  color: #cc0000;
}
.step__text strong {
  display: contents;
  color: #3274c4;
  font-weight: bold;
}
.step__text i {
  text-indent: 0.5rem;
  margin-right: 5px;
}
.step__text a {
  display: inline;
}
.step__img {
  max-width: 700px;
}
.step__next {
  max-width: 140px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  bottom: -45px;
  cursor: pointer;
  transition: 0.5s;
}
.step__next:hover {
  transform: scale(0.95);
}
.step__next:hover {
  transform: translateX(-50%) scale(0.95);
}
@media (max-width: 480px) {
  .step__next {
    bottom: -55px;
  }
}

.remark {
  font-size: 1rem;
}
.remark ul {
  list-style: decimal;
  padding-left: 2.2rem;
  /* 開戶銀行列表 */
}

.tab__text {
  color: #2c2c2c;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}
@media (max-width: 769px) {
  .tab__text {
    display: block;
  }
}
.tab__text p {
  font-weight: bold;
}
.tab__text p::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin: 0 5px;
}
.tab__text strong {
  color: #cc0000;
  font-weight: bold;
}

.bank__table tr:nth-child(even) {
  background: #e6e6e6;
}
.bank__table th, .bank__table td {
  vertical-align: middle;
  color: #2c2c2c;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  padding: 12px;
}
.bank__table th {
  font-size: 1.25rem;
  padding: 0 10px;
  border-bottom: 1px solid #e6e6e6;
}
@media (max-width: 480px) {
  .bank__table th {
    font-size: 1.125rem;
    padding: 3px 10px;
  }
}
.bank__table th span {
  display: block;
  color: #ef4e28;
  font-size: 1rem;
}
.bank__table th:first-child {
  text-align: left;
  width: 25%;
  padding-left: 1.5rem;
}
@media (max-width: 640px) {
  .bank__table th:first-child {
    min-width: 115px;
    padding: 5px 10px;
  }
}
.bank__table th.th01, .bank__table th.th02, .bank__table th.th03 {
  background: #f4a02e;
  letter-spacing: 1px;
  color: #fff;
  height: 60px;
  width: 35%;
}
.bank__table th.th01 strong, .bank__table th.th02 strong, .bank__table th.th03 strong {
  font-size: 1rem;
  display: block;
  font-weight: bold;
}
@media (max-width: 480px) {
  .bank__table th.th01 strong, .bank__table th.th02 strong, .bank__table th.th03 strong {
    font-size: 0.9rem;
  }
}
.bank__table th.th02 {
  background: #eb6877;
}
@media (max-width: 480px) {
  .bank__table th.th02 {
    min-width: 125px;
    letter-spacing: 0;
  }
}
.bank__table th.th03 {
  background: #f0c011;
}
.bank__table td {
  line-height: 1.8rem;
}
@media (max-width: 480px) {
  .bank__table td {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.bank__table td:first-child {
  text-align: left;
}
.bank__table .fa-check, .bank__table .inline-text {
  color: #ab231e;
}
.bank-recommend {
  margin-bottom: 50px;
}
.bank-recommend tr td:first-child {
  text-indent: -1.9rem;
  padding-left: 3rem;
}
@media (max-width: 640px) {
  .bank-recommend tr td:first-child {
    padding-left: 2rem;
  }
}
.bank-recommend tr td:first-child::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin: 0 5px;
  color: #ef4e28;
}
.bank-not-recommend tr td:first-child {
  padding-left: 1.5rem;
}
@media (max-width: 640px) {
  .bank-not-recommend tr td:first-child {
    padding: 5px 10px;
  }
}
.bank__remind {
  margin-bottom: 50px;
}
.bank__remind .remind__text {
  background: #ffedcc;
}
@media (max-width: 480px) {
  .bank__remind .remind__text {
    padding: 5px 2%;
  }
}
.bank__remind .remind__text img {
  top: 5px;
}
@media (max-width: 480px) {
  .bank__remind .remind__text img {
    display: none;
  }
}

.attention-list {
  margin-top: -60px;
  font-size: 1.125rem;
  line-height: 1.6rem;
}
.attention-list li {
  letter-spacing: 0.1rem;
  text-indent: -1.4rem;
  padding-left: 1.4rem;
  margin-bottom: 10px;
}
.attention-list li::before {
  content: "※ ";
}
.attention-list span {
  color: #cc0000;
}
.attention-list a {
  display: contents;
}

.nav-tabs .nav-link {
  font-weight: bold;
  color: #fff;
  background: #b9b9b9;
  padding: 10px 30px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  border-radius: 0;
}
@media (max-width: 480px) {
  .nav-tabs .nav-link {
    padding: 10px 20px;
  }
}
.nav-tabs .nav-link.nav-title {
  display: flex;
  align-items: center;
}
.nav-tabs .nav-link img {
  max-width: 20px;
  margin-right: 5px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  background: #8ea4be;
  border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: #3274c4;
  color: #fff;
  border-color: transparent;
  position: relative;
}
.nav-tabs .nav-item.show .nav-link::after, .nav-tabs .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  border: 11px solid transparent;
  border-top-color: #3274c4;
}

/*# sourceMappingURL=main.css.map */
