body{
	color: #000;
	font-weight: 300;

}
.threepointTT{
	width: 100%;
	margin:0 auto;
}

/*KV*/
.bannerblock {
	padding-top: 60px;
	position: relative;
	/* height: 850px;
	background: url(../images/KV-full.jpg) no-repeat center center; */
}
.bannerblock img:nth-child(2){
	display: none;
}
.bannerblock .btnblock{
	position: absolute;
	right: 0;
	left: 0;
	top: 72%;
	/* bottom: 25%; */
	max-width: 350px;
}
.bannerBtn {
	border-radius: 5px;
}
.bannerblock .btnanchor{
	background: #ef4e28;
}
.bannerblock .btnanchor:hover{
	background: #d0401e;
}
.bannerblock .btnopen, .bannerblock .btnanchor{
	max-width: 150px;
}
.btnblock{
	max-width: 500px;
}
.btnopen, .btnfund, .btnanchor{
	max-width: 220px;
}
/* 焦點優惠 */
.bgthreepoint{
	background: #dddce2;
}
.fundoutline{
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px; 
}
.fundoutline h1{
	font-size: 30px;
	font-weight: bold;
	display: flex;
	justify-content: center;
}
.fundoutline h1 p{
	font-weight: bold;
	font-style: italic;
	padding: 0 7px;
	font-size: 40px;
	color: #ef4e28;
}
.pointcontent img{
	max-width: 220px;
}
/*精選基金*/
.sectionblock{
	text-align: center;
}
.bggry{
	background: #f3f3f3;
}
.titleblock,.fundname{
	font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
}
.titleblock:after,.titleblock:before{
	content: "";
	width: 60px;
	height: 20px;
	background: url(../images/lineblack.png) no-repeat center center;
  display: inline-block;
}
.titleblock b{
	color: #f9a532;
	font-weight: bold;
}
.fund__h{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	background: #cc0000;
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 10px;
}
.fundname{
	font-size: 24px;
	color: #ef4e28;
	line-height: 28px
}
.fundname p{
	color: #757575;
	font-weight: bold;
}
.advantagelist{
	font-size: 18px;
	line-height: 22px;
	text-align: left;
}
.advantagelist ul{
	list-style: disc;
	padding-left: 20px;
}
.advantagelist p{
	font-weight: bold;
	display: inline;
}
/*圖表*/
.chartblock{
	text-align: center;
}
.chartblock h2{
	border-bottom: 1px solid #000;
    display: inline;
    font-size: 23px;
    font-weight: bold;
    line-height: 40px;
}
.extra{
	display: block;
}
.extra ul{
	list-style-type: decimal;
	list-style-position: inside;
	padding-left: 1em;
}
.extra span{
	color: #ef4e28;
}
/*活動辦法*/
.bgactivity{
	background: #dddce2;
	/*background: url(../images/bg-activity.jpg) no-repeat top/cover;*/
}
.fundtrack{
	cursor: pointer;
}
/* 影片區 */
#video{
	margin-bottom: 50px;
}
.video-block{
	display: flex;
	font-size: 18px;
}
.video-block h2{
	color: #ef4e28;
	font-weight: bold;
	font-size: 22px;
	border-bottom: 1px solid #ccc;
	line-height: 35px;
	margin-bottom: 15px;
}
.video__show{
	width: 100%;
	margin-right: 2%;
}
.video-block .activityinforblock ul{
	list-style: none;
	padding: 0;
	font-size: 16px;
}
.video-block .activityinforblock li:before{
	font-family: "Font Awesome 5 Free"; 
  font-weight: 600; 
	content: '\f35a';
	padding-right: 5px;
}
/* 時鐘 */
.clock-block{
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.clockeach h2{
	font-size: 20px;
	font-weight: bold;
}
.jcgmt-clockHolder{
	width: 140px;
}
.jcgmt-rotatingWrapper{
	width: 140px;
	height: 140px;
}
.jcgmt-lbl, .jcgmt-digital, .jcgmt-date{
	display: none
}
.intro-block{
	position: relative;
	width: 100%;
	padding: 43px 30px;
	font-size: 20px;
	font-weight: bold;
	color:#0e1d40;
  text-align: left;
  line-height: 25px;
  letter-spacing: 1px;
	background: url(../images/bg-intro.png) no-repeat top/cover;
}
.ship{
	position: absolute;
	width: 100px;
	animation: shipact 20s infinite; /*IE*/
  -moz-animation: shipact 20s infinite; /*FireFox*/
	-webkit-animation: shipact 20s infinite; /*Chrome, Safari*/
}
@keyframes shipact{
	0%{
		bottom: -25px;
		right: 0;
		transform:scaleX(1);
	}
	48%{
		bottom: -25px;
		transform:scaleX(1);
	}
	50%{
		bottom: -25px;
		right: 90%;
		transform:scaleX(-1);
	}
	100%{
		bottom: -25px;
		right: 0;
		transform:scaleX(-1);
	}
}
/* @keyframes shipact{
	0%{
		top: -60px;
		right: -10%;
		transform:scaleX(1);
	}
	23%{
		top: -60px;
		transform:scaleX(1);
	}
	25%{
		top: -60px;
		right: 90%;
		transform:scaleX(-1);
	}
	50%{
		top: 70%;
		right: 90%;
		transform:scaleX(-1);
	}
	75%{
		top: 70%;
		right: -10%;
		transform:scaleX(-1);
	}
	100%{
		top: -60px;
		right: -10%;
		transform:scaleX(-1);
	}
} */
/*RWD*/
@media (max-width:960px){
	.bannerblock .btnblock, .btnblock {
    display: flex;
    left: 0;
    top: auto;
    bottom: 0;
		width: 100%;
		max-width: none;
	}
	.bannerblock .btnopen, .bannerblock .btnfund,.bannerblock .btnanchor{
		max-width: none;
	}
	.bannerblock .bannerBtn {
    border-radius: 0;
	}
}
@media (max-width:769px){
	.video-block{
		display: block;
	}
	.video-block .activityinforblock{
		margin-top: 20px;
	}
	.clock-block{
		flex-wrap: wrap;
		justify-content: center;
	}
	/* .clock-block{
		display: block;
	}
	.jcgmt-container{
		float: none;
	} */
}

@media (max-width:640px){
	.bannerblock img:nth-child(1){
		display: none;
	}
	.bannerblock img:nth-child(2){
		display: block;
	}
/*	.titleblock{
        font-size: 25px;
    }
    .titleblock:after, .titleblock:before {
	    width: 30px;
	}*/
	.intro-block{
		font-size: 18px;
		line-height: 22px;
	}
	.btnopen, .btnfund{
    padding: 8px 10px 9px 10px;
	}
	.video-block .activityinforblock ul{
		font-size: 15px;
	}
	.ship{
		animation: shipact 10s infinite; /*IE*/
		-moz-animation: shipact 10s infinite; /*FireFox*/
		-webkit-animation: shipact 10s infinite; /*Chrome, Safari*/
	}
	@keyframes shipact{
		0%{
			bottom: -25px;
			right: 0;
			transform:scaleX(1);
		}
		48%{
			bottom: -25px;
			transform:scaleX(1);
		}
		50%{
			bottom: -25px;
			right: 75%;
			transform:scaleX(-1);
		}
		100%{
			bottom: -25px;
			right: 0;
			transform:scaleX(-1);
		}
	}
}

@media (max-width:480px){
	.titleblock{
		margin:10px auto;
		font-size: 25px;
	}
	.titleblock:after, .titleblock:before {
	    width: 20px;
	}
	.fundname{
		font-size: 22px;
	}
	.btnopen, .btnfund, .btnanchor{
		font-size: 18px;
	}
	.clock-block{
		display: none;
	}
}