#index-choice {

    --team-color: #000;
    .slide--kuo {--team-color: #53bb9f;}
    .slide--lin {--team-color: #864590;}
    .slide--chen {--team-color: #f7c248;}

    height: vh2X(1087 - 86);
    background-image: linear-gradient(-60deg, rgba(0,182,173,1) 0%, rgba(0,137,209,1) 90%, rgba(0,137,209,1) 100%);
    background-position: left center;
    background-size: 100% 100%;
    overflow: hidden;
    
    @include tablet {
        height: vw(2078 - 158);
    }

    // 重複圖樣
    &::before {
        --choice-pattern-x: #{vh2X(-1459)};
        --choice-pattern-y: #{vh2X(-636)};
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/images/index/choice/pattern.png') 0 0 repeat;
        background-size: vh2X(1459) vh2X(636);
        animation: choicePatternMove 20s linear infinite;
        mix-blend-mode: screen;

        @include tablet {
            --choice-pattern-x: #{vw(-1403)};
            --choice-pattern-y: #{vw(-1069)};
            background: url('/images/index/choice/pattern_mb.png') 0 0 repeat;
            background-size: vw(1403) vw(1069);
        }
    }

    // 重複 Slogan
    &::after {
        content: '';
        position: absolute;
        top: vh2X(227 - 86);
        left: 50%;
        width: vh2X(613);
        height: vh2X(459);
        margin-left: vh2X(-361);
        background: url('/images/index/choice/slogan.png') 0 0 no-repeat;
        background-size: contain;
        
        @include tablet {
            top: vw(499 - 158);
            left: vw(23);
            width: vw(1057);
            height: vw(1008);
            margin-left: 0;
            background-image: url('/images/index/choice/slogan_mb.png');
        }
    }

    *::selection {
        background: rgba(#fff, 0);
    }

    // 區塊標題
    .index__choice__marquee {
        display: none;
        position: relative;
        width: vh2X(339);
        height: vh2X(86);
        margin: vh2X(79) auto 0;
        background: url('/images/index/choice/title.png') 0 0 no-repeat;
        background-size: contain;

        @include tablet {
            width: vw(621);
            height: vw(158);
            margin-top: vw(133);
            background-image: url('/images/index/choice/title_mb.png');
        }
    }

    // Swiper
    #index-choice-swiper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    // 隊伍資訊欄整體 (當前隊伍人數和排名)
    .index__choice__swiper__wrap__slide__text__inner {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: vh2X(610 - 86);
        left: 50%;
        margin-left: vh2X(-432);
        transform: translate3d(0,0,0);
        z-index: 1;

        @include tablet {
            top: vw(1084 - 158);
            left: vw(98);
            margin-left: 0;
        }
    }

    // 當前隊伍人數
    .index__choice__swiper__wrap__slide__text__inner__number {
        display: flex;
        align-items: center;
        align-self: flex-start;
        height: vh2X(29);
        color: #fff;
        font-size: vh2X(16);
        font-weight: 600;
        padding: 0 vh2X(9);
        margin-bottom: vh2X(6);
        background: var(--team-color);

        @include tablet {
            height: vw(62);
            font-size: vw(32);
            padding: 0 vw(26) 0 vw(20);
            margin-bottom: vw(17);
        }

        span {
            margin-left: vh2X(6);
            @include tablet {
                margin-left: vw(13);
            }
        }
    }

    // 隊伍 Box
    .index__choice__swiper__wrap__slide__text__inner__box {
        display: flex;
        align-self: flex-start;
        margin-bottom: vh2X(10);
        border: var(--team-color) vh2X(4) solid;
        box-shadow: var(--team-color) 0 vh2X(10) 0;
        border-radius: vh2X(22);
        background: #fff;
        box-sizing: border-box;

        @include tablet {
            margin-bottom: vw(18);
            border-width: vw(4);
            box-shadow: var(--team-color) 0 vw(18) 0;
            border-radius: vw(22);
        }
    }

    // 左側排名欄
    .index__choice__swiper__wrap__slide__text__inner__box__rank {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: vh2X(78);
        padding: vh2X(16) 0 vh2X(18);
        border-right: var(--team-color) vh2X(3) solid;

        @include tablet {
            width: vw(166);
            padding: vw(32) 0 vw(42);
            border-right-width: vw(4);
        }

        // 「排名」兩字
        .index__choice__swiper__wrap__slide__text__inner__box__rank__text {
            color: var(--team-color);
            font-size: vh2X(18);
            font-weight: 600;

            @include tablet {
                font-size: vw(36);
            }
        }

        // 排名的「數字」
        .index__choice__swiper__wrap__slide__text__inner__box__rank__number {
            color: var(--team-color);
            font-size: vh2X(70);
            font-style: italic;
            font-weight: 900;
            text-indent: vh2X(-6);

            @include tablet {
                font-size: vw(145);
                text-indent: vw(-16);
            }
        }
    }

    // 右側資訊欄
    .index__choice__swiper__wrap__slide__text__inner__box__detail {
        display: flex;
        flex-direction: column;
        width: vh2X(340);

        @include tablet {
            width: vw(724);
        }
    }

    // 運動員列
    .index__choice__swiper__wrap__slide__text__inner__box__detail__row {
        display: flex;
        justify-content: center;
        height: vh2X(46);
        border-bottom: var(--team-color) vh2X(3) solid;
        @include tablet {
            height: vw(92);
            border-bottom-width: vw(4);
        }
        &:last-child {
            flex-grow: 1;
            align-items: center;
            border-bottom: none;
        }
    }

    // 隊伍名
    .index__choice__swiper__wrap__slide__text__inner__box__detail__row__team {
        display: flex;
        align-items: center;
        justify-content: center;
        width: vh2X(216);
        color: var(--team-color);
        font-size: vh2X(24);
        font-weight: 700;

        @include tablet {
            width: vw(464);
            font-size: vw(55);
        }
    }

    // 代表議題
    .index__choice__swiper__wrap__slide__text__inner__box__detail__row__tag {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        color: #fff;
        font-size: vh2X(24);
        font-weight: 700;
        border-radius: 0 vh2X(16) 0 0;
        background: var(--team-color);

        @include tablet {
            font-size: vw(40);
            border-radius: 0 vw(18) 0 0;
        }
    }

    // 宣言
    .index__choice__swiper__wrap__slide__text__inner__box__detail__row__slogan {
        color: #004c6b;
        font-size: vh2X(18);
        font-weight: 700;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: vh2X(1);
        
        @include tablet {
            font-size: vw(38);
            line-height: 1.316;
            letter-spacing: vw(1);
        }
    }

    // 運動員人像
    .index__choice__swiper__wrap__slide__img {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: vh2X(657);
        height: vh2X(923);
        margin-left: vh2X(-130);
        transform: translate3d(0,0,0);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;

        @at-root #index-choice .slide--kuo .index__choice__swiper__wrap__slide__img {
            background-image: url('/images/index/choice/athlete-kuo.png');
            @include tablet {
                background-image: url('/images/index/choice/athlete-kuo_mb.png');
            }
        }

        @at-root #index-choice .slide--lin .index__choice__swiper__wrap__slide__img {
            background-image: url('/images/index/choice/athlete-lin.png');
            @include tablet {
                background-image: url('/images/index/choice/athlete-lin_mb.png');
            }
        }

        @at-root #index-choice .slide--chen .index__choice__swiper__wrap__slide__img {
            background-image: url('/images/index/choice/athlete-chen.png');
            @include tablet {
                background-image: url('/images/index/choice/athlete-chen_mb.png');
            }
        }

        @include tablet {
            left: 0;
            width: vw(1080);
            height: vw(1733);
            margin-left: 0;
        }
    }

    // 加入 XXX 隊與其他文字資訊
    // .index__choice__swiper__active {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: 2;
    // }

    // 加入 XXX 隊、左右切換按鈕的容器
    .index__choice__swiper__active__inner__arrow-area {

        > img, > a {
            cursor: pointer;
        }

    }

    #index-choice-swiper-arrow-prev,
    #index-choice-swiper-arrow-next {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: vh2X(440 - 86);
        left: 50%;
        width: vh2X(105);
        height: vh2X(144);
        font-size: 0;
        text-indent: -5000px;
        z-index: 2;

        @include tablet {
            top: vw(1579 - 158);
            left: 0;
            width: vw(315);
            height: vw(43);
        }

        &::before {
            content: '';
            width: vh2X(57);
            height: vh2X(72);
            background-image: url('/images/index/choice/arrow.png');
            background-repeat: no-repeat;
            background-size: vh2X(59) vh2X(160);
            animation: choiceArrowMove 1.25s ease-in-out infinite;
            
            @include tablet {
                width: 100%;
                height: 100%;
                background-image: url('/images/index/choice/arrow_mb.png');
                background-size: vw(315) vw(96);
            }
        }
    }

    // Prev 箭頭
    #index-choice-swiper-arrow-prev {
        --choice-arrow-x: 20%;
        margin-left: vh2X(-624);

        @include tablet {
            --choice-arrow-x: 10%;
            left: vw(60);
            margin-left: 0;
        }
    }

    // Next 箭頭
    #index-choice-swiper-arrow-next {
        --choice-arrow-x: -20%;
        margin-left: vh2X(496);

        @include tablet {
            --choice-arrow-x: -10%;
            right: vw(60);
            left: auto;
            margin-left: 0;
        }
        &::before {
            background-position: 0 vh2X(-80);
            @include tablet {
                background-position: 0 vw(-48);
            }
        }
    }

    // 選隊按鈕
    #index-choice-swiper-btn-active {
        position: absolute;
        top: vh2X(802 - 86);
        left: 50%;
        width: vh2X(109);
        height: vh2X(109);
        margin-left: vh2X(-275);
        cursor: pointer;
        z-index: 1;
        transition: filter .5s ease;

        @include tablet {
            top: vw(1488 - 158);
            left: 50%;
            width: vw(233);
            height: vw(233);
            margin-left: vw(-116.5);
        }

        @include hover {
            &:hover {
                filter: brightness(125%);
            }
            &:hover::before {
                animation-duration: .25s;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            pointer-events: none;
            animation: choiceJoinRipple .5s linear infinite;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/images/index/choice/button-join_v2.png');
            background-position: center 0;
            background-repeat: no-repeat;
            background-size: vh2X(109) vh2X(109);
            animation: choiceJoinMove 1.25s ease-in-out infinite;
            @include tablet {
                background-image: url('/images/index/choice/button-join_mb_v2.png');
                background-position: center 0;
                background-size: vw(233) vw(233);
            }
        }
        // &.kuo::after {
        //     background-position: 0 0;
        // }
        // &.lin::after {
        //     background-position: 0 vh2X(-112);
        //     @include tablet {
        //         background-position: 0 vw(-224);
        //     }
        // }
        // &.chen::after {
        //     background-position: 0 vh2X(-224);
        //     @include tablet {
        //         background-position: 0 vw(-448);
        //     }
        // }
    }

    .index__choice__swiper__active__inner__award {
        position: absolute;
        top: vh2X(922 - 86);
        left: 50%;
        transform: translateX(-100%);
        z-index: 1;

        @include tablet {
            top: vw(1740 - 158);
            left: 0;
            width: 100%;
            transform: none;
        }
    }

    // 首次入隊立即獲得 & 每集 1 點就多 1 次抽獎機會，還能把 Gogoro 帶回家！
    .index__choice__swiper__active__inner__award__line {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: vh2X(12);
        @include tablet {
            margin-bottom: vw(22);
        }
        img {
            height: vh2X(43);
            margin-left: vh2X(8);
            @include tablet {
                height: vw(70);
                margin-left: vw(10);
            }
        }
        &:nth-child(1) .index__choice__swiper__active__inner__award__line__text {
            color: #004d6e;
            font-size: vh2X(22);
            font-weight: 900;
            padding-bottom: vh2X(2);
            @include tablet {
                font-size: vw(40);
                font-weight: 700;
                letter-spacing: vw(1);
                padding-bottom: 0;
                @include stroke($size: vw(2))
            }
        }
        &:nth-child(2) .index__choice__swiper__active__inner__award__line__text {
            color: #004d6e;
            font-size: vh2X(18);
            font-weight: 500;
            letter-spacing: vh2X(1);
            @include stroke($size: vh2X(1.5));
            @include tablet {
                font-size: vw(40);
                font-weight: 700;
                letter-spacing: vw(1);
                @include stroke($size: vw(2))
            }
        }
    }

}