#bonus-mission {

    padding-top: 62px;
    background-image: url('/images/bonus-mission/background-lines.png'), url('/images/dotted_bg.png');
    background-color: #fff;
    background-position: center top, center top;
    background-repeat: no-repeat, repeat;

    @include tablet {
        background: url('/images/dotted_bg-mb.png') #fff center top repeat;
        background-size: vw(13) vw(13);
    }

    > .center {
        position: relative;
        min-height: 100vh;
        padding-top: 45px;
        padding-bottom: 192px;
        @include tablet {
            padding-top: vw(132);
            padding-bottom: vw(300);
        }

        &::before,
        &::after {
            @include tablet {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }

        &::before {
            @include tablet {
                top: vw(243);
                height: vw(504);
                background-image: url('/images/bonus-mission/background-top_mb_v2.png?v=2');
            }
        }

        &::after {
            @include tablet {
                bottom: 0;
                height: vw(471);
                background-image: url('/images/bonus-mission/background-bottom_mb_v2.png');
            }
        }
    }

    .page__caption {
        width: 398px;
        height: 86px;
        font-size: 0;
        text-indent: -5000px;
        margin: 0 auto;
        background: url('/images/bonus-mission/caption.png') center center no-repeat;
        background-size: contain;

        @include tablet {
            width: vw(741);
            height: vw(158);
            background-image: url('/images/bonus-mission/caption_mb.png')
        }
    }

    .page__description {
        color: #004d6e;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        line-height: 28px;
        letter-spacing: 0.05em;
        padding-top: 20px;
        padding-bottom: 48px;

        @include tablet {
            font-size: vw(40);
            line-height: vw(57);
            padding-top: vw(46);
            padding-bottom: vw(82);
        }
    }

    .list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 880px;
        margin: 0 auto;

        @include tablet {
            justify-content: center;
            width: 100%;
        }
    }

    .item__template {
        display: none;
    }

    .item {
        width: 415px;
        margin-bottom: 34px;
        border: #0098ba 3px solid;
        border-radius: 27px;
        box-shadow: rgba(#0098ba, 1) 0 3px 0;
        background: #0098ba;
        box-sizing: border-box;
        overflow: hidden;
        text-decoration: none;

        @include tablet {
            width: vw(834);
            margin-bottom: vw(70);
            border-width: vw(3);
            border-radius: vw(29) vw(29) vw(52) vw(52);
            box-shadow: rgba(#0098ba, 1) 0 vw(18) 0;
        }
    }

    .item__header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 102px;
        color: #004c69;
        letter-spacing: 0.09em;
        text-align: center;
        border-bottom: #0097bc 3px solid;
        background: #fff;

        @include tablet {
            height: vw(210);
            border-bottom-width: vw(3);
        }
    }

    .item__title {
        font-size: 28px;
        font-weight: 900;
        line-height: 42px;

        @include tablet {
            font-size: vw(56);
            line-height: vw(82);
        }
    }

    .item__description {
        font-size: 18px;
        font-weight: 500;
        line-height: 29px;

        @include tablet {
            font-size: vw(40);
            line-height: vw(64);
        }
    }

    .item__main {
        height: 180px;
        padding-top: 13px;
        background: linear-gradient(45deg, #0292bc 0%, #6ad5bf 100%);
        box-sizing: border-box;

        @include tablet {
            height: vw(364);
            padding-top: vw(26);
        }
    }

    .item__content {
        display: flex;
        height: 96px;
        align-items: center;
        justify-content: center;

        @include tablet {
            height: vw(193);
        }

        p {
            color: #ffffff;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.06em;
            text-align: center;

            @include tablet {
                font-size: vw(35);
                line-height: vw(48);
            }
        }

    }

    .item__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 19px;

        @include tablet {
            padding-top: vw(34);
        }
    }

    .item__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 272px;
        height: 38px;
        color: #0393bc;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.06em;
        text-decoration: none;
        border-radius: 38px;
        background: #fff;

        @include tablet {
            width: vw(550);
            height: vw(78);
            font-size: vw(32);
            border-radius: vw(78);
        }

        &.disabled {
            opacity: 0.7;
            pointer-events: none;
        }
    }

    .item__button-icon {
        width: 128px;
        height: 32px;
        margin: 0 6px;
        background: url('/images/index-green-point.png') 0 0 no-repeat;
        background-size: contain;

        @include tablet {
            width: vw(262);
            height: vw(64);
            margin: 0 vw(4) 0 vw(10);
        }
    }

    .item__button-quantity {

    }

}