@charset "UTF-8";
body {
  color: #333333;
  line-height: 22px;
  text-align: justify;
  background: #fbe6d9;
}

/* 統一樣式 */
.discount-table, .title__block, .banner-kv img {
  width: 100%;
  margin: 0 auto;
}

span, strong, h3 {
  font-weight: bold;
}

h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.25rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 2rem;
}

.btn-open {
  max-width: 200px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background: url("../images/btn-open.png") no-repeat top/cover;
  cursor: pointer;
  margin-top: 40px;
}
.btn-open:hover {
  background-position: bottom;
}

/* 樣式分隔線 */    
nav {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 3px 5px rgba(135, 63, 19, 0.3);
}

.menu a {
  color: #333333;
}
.menu a:hover {
  color: #ef4e28;
}
.menu ul {
  display: flex;
  align-items: center;
}
@media (max-width: 960px) {
  .menu ul {
    display: block;
  }
}
@media (max-width: 960px) {
  .menu ul li {
    border-bottom: 1px solid #deaa65;
    height: 50px;
  }
}
.menu .btn-open {
  margin: 0px 18px;
  width: 100px;
  height: 30px;
}
@media (max-width: 960px) {
  .menu .btn-open {
    margin: 0 auto;
    transform: translateY(30%);
  }
}

.banner__block {
  position: relative;
  background: url("../images/bg-kv.jpg") no-repeat top/cover;
}
.banner-kv img {
  max-width: 850px;
  padding-top: 50px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .banner-kv img:nth-child(1) {
    display: none;
  }
}
.banner-kv img:nth-child(2) {
  max-width: 480px;
  display: none;
}
@media (max-width: 480px) {
  .banner-kv img:nth-child(2) {
    display: block;
  }
}

.title__block {
  max-width: 450px;
}

.w-1200 {
  max-width: 1200px;
}

.advantage__block {
  margin-top: 60px;
  display: grid;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-gap: 10px 0;
}
@media (max-width: 960px) {
  .advantage__block {
    justify-content: center;
    grid-gap: 50px;
  }
}
.advantage-item a {
  color: #333333;
  transition: 0.3s;
}
.advantage-item a:hover {
  transform: scale(0.95);
}
.advantage-item img {
  position: absolute;
  max-width: 270px;
  width: auto;
  left: -25px;
  top: -25px;
}
.advantage-title {
  font-size: 1.5rem;
  font-family: "Noto Sans TC";
  font-weight: bold;
  color: #872f0a;
  text-align: center;
  border-bottom: 1px solid #deaa65;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.advantage-list {
  border: 1px solid rgba(222, 170, 101, 0.5);
  background: rgba(255, 255, 255, 0.5);
  padding: 8px;
}
.advantage-text {
  border: 1px solid #deaa65;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 10px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.6rem;
}
.advantage-text p {
  font-weight: bold;
}
.advantage-text strong {
  color: #ef4e28;
}

@media (max-width: 480px) {
  .img-table img:nth-child(1) {
    display: none;
  }
}
.img-table img:nth-child(2) {
  max-width: 480px;
  display: none;
}
@media (max-width: 480px) {
  .img-table img:nth-child(2) {
    display: block;
  }
}

#discount h4 {
  text-align: center;
  margin-bottom: 30px;
}
#discount p {
  font-weight: bold;
}
#discount strong {
  color: #ef4e28;
}

.discount-table {
  max-width: 800px;
}
@media (max-width: 480px) {
  .discount-table img:nth-child(1) {
    display: none;
  }
}
.discount-table img:nth-child(2) {
  max-width: 480px;
  display: none;
}
@media (max-width: 480px) {
  .discount-table img:nth-child(2) {
    display: block;
  }
}
.discount-caption {
  color: #635b51;
  margin-left: 0.85rem;
  font-size: 0.875rem;
  line-height: 1rem;
}
@media (max-width: 480px) {
  .discount-caption {
    margin-left: 0;
  }
}
.discount-caption ul {
  list-style: auto;
  margin-left: 1.5rem;
}
@media (max-width: 480px) {
  .discount-caption ul {
    margin-left: 1rem;
  }
}
.discount-caption ul a {
  display: inline;
}

#theme {
  background: url("../images/bg-content.jpg") no-repeat bottom/contain;
  padding-bottom: 100px;
}
@media (max-width: 640px) {
  #theme {
    background: url("../images/bg-content-m.jpg") no-repeat bottom/contain;
  }
}

.theme-content {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  flex-wrap: wrap;
}
@media (max-width: 769px) {
  .theme-content {
    justify-content: space-around;
  }
}
.theme-content a {
  color: #333333;
}
.theme-content a:hover {
  color: #333333;
}
.theme-content::after {
  content: "";
  width: 270px;
}
.theme-list {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 270px;
  min-height: 140px;
  padding: 20px 15px 15px;
  margin: 15px 0;
  background: #fffdf6;
  border: 1px solid #e2cbbd;
  box-shadow: 6px 6px rgba(135, 63, 19, 0.3);
  transition: 0.3s;
  cursor: pointer;
}
.theme-list:hover {
  transform: scale(0.95);
}
.theme-list-title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.theme-list-title h5 {
  font-size: 1.25rem;
  line-height: 30px;
  font-weight: bold;
  color: #ef4e28;
}
.theme-list-title img {
  max-width: 30px;
  margin: 0;
  margin-right: 5px;
}
.theme-list:hover {
  border: 2px solid #ef4e28;
  box-shadow: 6px 6px rgba(135, 63, 19, 0.5);
}
.theme-list:hover i {
  animation: arrow-hover 0.5s;
  color: #cc0000;
  font-size: 20px;
}
.theme-list i {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #635b51;
  font-size: 18px;
}
.theme-text {
  margin: 0 0 0 35px;
}
.theme-text p {
  font-size: 1.125rem;
  line-height: 1.6rem;
  font-weight: bold;
}

@keyframes arrow-hover {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  25% {
    transform: translateX(20px);
    opacity: 0;
  }
  50% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.social__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
@media (max-width: 769px) {
  .social__block {
    display: block;
  }
}
.social-title {
  font-size: 35px;
  line-height: 45px;
  text-align: right;
  letter-spacing: 1px;
  margin-right: 20px;
}
@media (max-width: 769px) {
  .social-title {
    text-align: center;
    margin-right: 0;
    font-size: 30px;
  }
}
.social-title strong {
  font-family: "Noto Sans TC";
  color: #ef4e28;
}
.social-title p {
  font-family: "Noto Sans TC";
  font-weight: bold;
}
.social-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 769px) {
  .social-img {
    justify-content: center;
    margin-top: 20px;
  }
}
.social-img img {
  max-width: 150px;
}
.social-img img:first-child {
  margin-right: 10px;
}
@media (max-width: 769px) {
  .social-img img:first-child {
    margin: 0;
  }
}

#safety {
  background: #fffdf6;
}
#safety .section__block {
  padding-bottom: 80px;
}
#safety h2 {
  font-family: "Noto Sans TC";
  font-size: 30px;
  font-weight: bold;
}

.safe-process {
  margin-top: 30px;
}
.safe-process p {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.6rem;
  font-weight: bold;
}
.safe-process img {
  max-width: 800px;
}
@media (max-width: 480px) {
  .safe-process img:nth-child(1) {
    display: none;
  }
}
.safe-process img:nth-child(2) {
  max-width: 480px;
  display: none;
}
@media (max-width: 480px) {
  .safe-process img:nth-child(2) {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
