#pop-earned_coins {

    width: 460px;
    margin-top: 95px;
    margin-bottom: 95px;
    padding: 52px 25px 52px 25px;

    @include tablet {
        width: 588px;
        margin-top: 204px;
        margin-bottom: 204px;
        padding: 83px 31px 58px 31px;
    }

    @include mobile {
        width: vw(588);
        margin-top: vw(204);
        margin-bottom: vw(204);
        padding: vw(83) vw(31) vw(58) vw(31);
    }

    .pop__header {
        margin-bottom: 24px;
        @include tablet {
            margin-bottom: 48px;
        }
        @include mobile {
            margin-bottom: vw(48);
        }
    }

    .pop__header .pop__text {

        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 16px;

        @include tablet {
            font-size: 28px;
            margin-bottom: 24px;
        }

        @include mobile {
            font-size: vw(28);
            margin-bottom: vw(24);
        }

        &::before,
        &::after {
            content: '';
            width: 12px;
            height: 11px;
            margin: 0 8px;
            background: url('../images/common/icon-star.png') 0 0 no-repeat;
            @include tablet {
                width: 20px;
                height: 19px;
                margin: 0 9px;
                background-image: url('../images/common/icon-star_m.png')
            }
            @include mobile {
                width: vw(20);
                height: vw(19);
                margin: 0 vw(9);
                background-size: contain;
            }
        }

        span {
            color: #83ffbd;
            font-size: 20px;
            font-weight: 600;
            margin: 0 5px;
            @include tablet {
                font-size: 28px;
                margin: 0 8px;
            }
            @include mobile {
                font-size: vw(28);
                margin: 0 vw(8);
            }
        }

    }

    .pop__title {

        display: flex;
        align-items: center;
        justify-content: center;

        span {

            color: #83ffbd;
            font-size: 30px;
            margin: 0 6px;

            @include tablet {
                font-size: 48px;
                margin: 0 12px;
            }

            @include mobile {
                font-size: vw(48);
                margin: 0 vw(12);
            }

        }

    }

    .pop__content .pop__text {
        font-size: 16px;
        text-align: left;
        line-height: lineHeight(16, 28);
        padding: 21px 30px 18px 34px;
        background: #bb0019;
        @include tablet {
            font-size: 24px;
            line-height: lineHeight(24, 44);
            padding: 33px 21px 21px 27px;
        }
        @include mobile {
            font-size: vw(24);
            padding: vw(33) vw(21) vw(21) vw(27);
        }
    }

    .pop__navigation {

        margin-top: 28px;
        margin-bottom: 30px;

        @include tablet {
            margin-top: 48px;
            margin-bottom: 51px;
        }

        @include mobile {
            margin-top: vw(48);
            margin-bottom: vw(51);
        }

        ul {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            margin-bottom: 22px;
            &:nth-child(1) {margin-left: 33px;}
            &:nth-child(2) {margin-left: 66px;}
            &:nth-child(3) {margin-left: 46px;}
            &:nth-child(4) {margin-left: 66px;}
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 0;
            }
            @include tablet {
                &:nth-child(1) {margin-left: 26px;}
                &:nth-child(2) {margin-left: 50px;}
                &:nth-child(3) {margin-left: 30px;}
                &:nth-child(4) {margin-left: 88px;}
            }
            @include mobile {
                &:nth-child(1) {margin-left: vw(26);}
                &:nth-child(2) {margin-left: vw(50);}
                &:nth-child(3) {margin-left: vw(30);}
                &:nth-child(4) {margin-left: vw(88);}
            }
        }

        a {
            display: inline-block;
            font-size: 18px;
            font-weight: 600;
            line-height: 1;
            letter-spacing: #{PsdLetterSpacing(50, 18)}px;
            padding-left: #{PsdLetterSpacing(50, 18)}px;
            padding-bottom: 8px;
            border-bottom: #fff 1px solid;
            @include tablet {
                font-size: 30px;
                letter-spacing: #{PsdLetterSpacing(50, 30)}px;
                padding-left: #{PsdLetterSpacing(50, 30)}px;
                padding-bottom: 14px;
                border-bottom-width: 1px;
            }
            @include mobile {
                font-size: vw(30);
                letter-spacing: vw(PsdLetterSpacing(50, 30));
                padding-left: vw(PsdLetterSpacing(50, 30));
                padding-bottom: vw(14);
                border-bottom-width: vw(1);
            }
        }

    }

    .pop__buttons {

    }

    .pop__button-check {
        justify-content: flex-start;
        width: 222px;
        height: 43px;
        font-size: 20px;
        margin: 0 auto;
        border-radius: 7px;
        padding-left: 23px;
        @include tablet {
            width: 460px;
            height: 88px;
            font-size: 36px;
            border-width: 4px;
            border-radius: 10px;
            padding-left: 70px;
        }
        @include mobile {
            width: vw(460);
            height: vw(88);
            font-size: vw(36);
            border-width: vw(4);
            border-radius: vw(10);
            padding-left: vw(70);
        }
        &::after {
            content: '';
            width: 8px;
            height: 10px;
            margin-left: 6px;
            background: url('../images/common/pop-earned_coins-arrow.png') 0 0 no-repeat;
            @include tablet {
                width: 10px;
                height: 15px;
                margin-left: 12px;
                background-image: url('../images/common/pop-earned_coins-arrow_m.png');
            }
            @include mobile {
                width: vw(10);
                height: vw(15);
                margin-left: vw(12);
                background-size: contain;
            }
        }
    }

    .pop__close {
        top: 26px;
        right: -59px;
        @include tablet {
            top: -37px;
            right: -60px;
        }
        @include mobile {
            top: vw(-37);
            right: vw(-60);
        }
    }

}